<app-header [pageTitle]="'Classlog platform'" [ifShowMenu]="true"></app-header>

<div class="full-screen-container">
  <div class="tiles-container">
    <button class="yellow-button return-button" (click)="goBack()">Return</button>
    <div class="content">
      <div class="task-info-tile">
        <h2 class="task-title">{{ task?.taskName }}</h2>
        <p class="task-description">{{ task?.description }}</p>
      </div>

      <div class="separator-line"></div>

      <div class="question-list">
        <div *ngIf="questionsWithAnswers.length > 0; else noQuestions">
          <div *ngFor="let questionWithAnswers of questionsWithAnswers" class="question-tile">
            <h3 class="question-title">{{ questionWithAnswers.question.content }}</h3>

            <!-- Audio Container for MP3 -->
            <div *ngIf="questionWithAnswers.fileUrl" class="audio-container">
              <audio controls>
                <source [src]="questionWithAnswers.fileUrl" type="audio/mpeg" />
                Your browser does not support the audio element.
              </audio>
            </div>

            <!-- Closed Questions -->
            <div *ngIf="questionWithAnswers.question.questionType.questionTypeId === 1">
              <div *ngFor="let answer of questionWithAnswers.answers">
                <label>
                  <input type="checkbox" />
                  {{ answer.content }}
                </label>
              </div>
            </div>

            <!-- Open Questions -->
            <div *ngIf="questionWithAnswers.question.questionType.questionTypeId === 2">
              <label>
                Your Answer:
                <input type="text" class="form-control" />
              </label>
            </div>

            <!-- Correct Answer -->
            <p class="mt-3"><strong>Answer:</strong> {{ getCorrectAnswer(questionWithAnswers.answers) }}</p>
          </div>
        </div>

        <ng-template #noQuestions>
          <p class="no-questions-message">No questions within that test.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
