html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

.full-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 20px;
}

.tiles-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  padding: 40px;
  background-color: #fffde6;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.task-info-tile {
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.task-description {
  font-size: 1rem;
  color: #555;
}

.separator-line {
  width: 100%;
  height: 2px;
  background-color: #cccccc;
  margin: 20px 0;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.question-tile {
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.question-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.question-content {
  font-size: 1rem;
  color: #555;
}

.no-questions-message {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

.yellow-button {
  background-color: #F5C000;
  border: none;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.yellow-button:hover {
  background-color: #FFD54F;
  transform: scale(1.05);
}

.yellow-button:active {
  background-color: #FBC02D;
  transform: scale(0.95);
}

.return-button {
  position: absolute;
  top: 20px;
  left: 20px;
}


audio {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.answers-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.answers-list label {
  font-size: 1rem;
  color: #333;
  display: flex;
  align-items: center;
}

.answers-list input[type="checkbox"] {
  margin-right: 10px;
}
