<app-header [pageTitle]="'Classlog platform'" [ifShowMenu]="true"></app-header>

<div class="full-screen-container">
  <div class="tiles-container">

    <!-- Big tile on the left -->
    <div class="big-tile">
      <!-- Buttons at the top -->
      <div class="button-container">
        <button class="yellow-button" (click)="toggleJoinClassModal()">Join class</button>
        <app-join-class-window
          *ngIf="showJoinClassModal"
          [isOpen]="showJoinClassModal"
          (close)="toggleJoinClassModal()">
        </app-join-class-window>
      </div>

      <!-- Class tiles below buttons -->
      <div class="big-tile-content">
        <app-class-tile
          *ngFor="let classItem of classList"
          [title]="classItem.name"
          [description]="classItem.description"
          [teachers]="getTeachersForClass(classItem)"
          (click)="onClassTileClick(classItem)">
        </app-class-tile>
      </div>
    </div>

    <div class="small-tiles-container">
      <div class="attendance-list">
        <h3>Lesson History</h3>
        <div *ngFor="let lesson of lessons" class="lesson-tile">
          <div class="lesson-title">{{ lesson.subject }}</div>
          <div class="lesson-date">{{ lesson.lessonDate | date: 'dd.MM.yyyy HH:mm' }}</div>
        </div>
      </div>
    </div>


  </div>
</div>
