.class-tiles-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.class-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  padding: 1rem;
  border: 2px solid #f1c40f;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: background-color 0.3s, transform 0.2s;
}

.class-tile:hover {
  background-color: #f5c000;
  opacity: 0.8;
  transform: translateY(-5px);
}


.class-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #000;
}

.class-description-container {
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

.teacher-text {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.class-teachers {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.class-teacher span {
  background-color: #f1c40f;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
}
