<div>
  <app-header [pageTitle]="'Classlog platform'" [logoPath]="'assets/images/logo.png'" [ifShowMenu]="false"/>
  <div class="row justify-content-center mt-5">
    <div class="col-4">
      <div class="card">
        <div class="text-center mt-3">
          <h3>REGISTER</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
            <div class="form-outline mb-4">
              <input type="text" id="registerName" name="username" class="form-control" [(ngModel)]="username" />
              <label class="form-label" for="registerName">Username</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="registerPassword" name="password" class="form-control" [(ngModel)]="password" />
              <label class="form-label" for="registerPassword">Password</label>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" />
              <label class="form-label" for="confirmPassword">Confirm Password</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
          </form>
          <button (click)="navigateToLogin()" class="btn btn-secondary btn-block">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
