.register-card {
  border: 4px solid #FFD900;
  border-radius: 50px;
  background-color: #FFFFFF;
  /*padding: 8px; */
}

.app-logo {
  max-width: 30%;
  height: auto;
  margin:  auto;
  display: block;
}

.signup-link {
  color: #FFD900;
  font-weight: bold;
  font-size: 1.1rem;
}

.custom-btn {
  border-radius: 15px;
  font-size: 0.9rem;
  padding: 8px 12px;
}

.bold-label {
  font-weight: bold;
  font-size: 0.7rem;
}

.form-control {
  font-size: 0.9rem;
  padding: 4px;
}
