/* Ensure the HTML and body are taking full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrolling for the full page */
}

.full-screen-container {
  display: flex;
  flex-direction: column;
  height: 90vh; /* Fill the remaining 90% of the viewport below the header */
  overflow: hidden; /* Prevent scrolling */
  padding-bottom: 20px;
}

.tiles-container {
  display: flex;
  gap: 20px;
  flex: 1; /* Fill the remaining space below the header */
  padding: 20px 20px 20px; /* Remove top padding to avoid overflow */
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}

.user-profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  padding: 20px;
  background-color: #fffde6;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-icons {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.profile-header h1 {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  padding-right: 50px;
}

.profile-header h2 {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.profile-details {
  width: 100%; /* Ensure it takes full width */
  max-width: 25%; /* Set maximum width to 25% of the container */
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  font-size: 12px; /* Adjust font size */
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-group-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.button-group-aligned {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.profile-details p {
  margin: 5px 0;
  font-size:12px; /* Adjust font size */
}

.profile-details strong {
  font-weight: bold;
}

.btn-icon {
  background: none;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.form-control {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.custom-button {
  background-color: #F5C000;
  border: none;
  color: black;
  padding: 10px 20px;
  font-size: 12px; /* Adjust font size */
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  color: black;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-group-aligned {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 20px;
}
