<app-header [pageTitle]="'Classlog platform'" [ifShowMenu]="true"></app-header>

<div class="full-screen-container">
  <div class="tiles-container">
    <!-- Big tile for created tasks -->
    <div class="big-tile">
      <button class="yellow-button top-right-button" (click)="createTask()">Create</button>
      <h1>Tasks</h1>
      <h5>Created</h5>
      <hr class="divider">

      <!-- Tasks Table -->
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead class="table-dark">
          <tr>
            <th>Task Name</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of createdTasks" class="clickable-row">
            <td (click)="onTaskClick(task)">{{ task.taskName }}</td>
            <td (click)="onTaskClick(task)">{{ task.description }}</td>
            <td (click)="onTaskClick(task)">{{ task.dueDate | date: 'dd.MM.yyyy HH:mm' }}</td>
            <td (click)="onTaskClick(task)">{{ task.createdAt | date: 'dd.MM.yyyy HH:mm' }}</td>
            <td class="actions-cell">
              <i class="bi bi-trash delete-icon" (click)="deleteTask(task)"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Right Section for task statuses -->
    <div class="small-tiles-container">
      <h1>Task Status</h1>
      <hr class="divider">

      <div class="submitted-not-submitted-container">
        <!-- Combined tasks -->
        <div
          *ngFor="let task of overdueTasks"
          [ngClass]="{ 'green-border': task.status === 'submitted', 'red-border': task.status === 'notSubmitted' }"
          class="task-card"
          (click)="onSubmittedTaskClick(task)"
        >
          <div class="task-title">{{ task.task.taskName }}</div>
          <div class="task-due-date">Due: {{ task.task.dueDate | date: 'dd.MM.yyyy HH:mm' }}</div>
          <div class="task-user">
            <strong>User:</strong> {{ task.user.name }} {{ task.user.surname }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
