<header class="app-header" [ngClass]="{'menu-active': ifShowMenu}">

  <div class="logo-title-container">
    <img src="{{logoPath}}" class="app-logo" alt="logo" />
  </div>

  <div *ngIf="authService.getAuthToken() && ifShowMenu" class="content-container">

    <div class="nav-links-container">
      <ng-container *ngIf="authService.getUser()?.role?.id === 1">
        <button class="nav-link" [ngClass]="{'selected': selectedOption === HeaderOptions.ClassesTeacher}" (click)="setSelectedOption(HeaderOptions.ClassesTeacher)">Classes</button>
        <button class="nav-link" [ngClass]="{'selected': selectedOption === HeaderOptions.TasksTeacher}" (click)="setSelectedOption(HeaderOptions.TasksTeacher)">Tasks</button>
        <button class="nav-link" [ngClass]="{'selected': selectedOption === HeaderOptions.GradesTeacher}" (click)="setSelectedOption(HeaderOptions.GradesTeacher)">Grades</button>
      </ng-container>

      <ng-container *ngIf="authService.getUser()?.role?.id === 2">
        <button class="nav-link" [ngClass]="{'selected': selectedOption === HeaderOptions.ClassesStudent}" (click)="setSelectedOption(HeaderOptions.ClassesStudent)">Classes</button>
        <button class="nav-link" [ngClass]="{'selected': selectedOption === HeaderOptions.TasksStudent}" (click)="setSelectedOption(HeaderOptions.TasksStudent)">Tasks</button>
        <button class="nav-link" [ngClass]="{'selected': selectedOption === HeaderOptions.GradesStudent}" (click)="setSelectedOption(HeaderOptions.GradesStudent)">Grades</button>
      </ng-container>

      <ng-container *ngIf="authService.getUser()?.role?.id === 3">
        <button class="nav-link" [ngClass]="{'selected': selectedOption === HeaderOptions.Students}" (click)="setSelectedOption(HeaderOptions.Students)">Students</button>
        <button class="nav-link" [ngClass]="{'selected': selectedOption === HeaderOptions.Teachers}" (click)="setSelectedOption(HeaderOptions.Teachers)">Teachers</button>
        <button class="nav-link" [ngClass]="{'selected': selectedOption === HeaderOptions.Admins}" (click)="setSelectedOption(HeaderOptions.Admins)">Admins</button>
        <button class="nav-link" [ngClass]="{'selected': selectedOption === HeaderOptions.Unassigned}" (click)="setSelectedOption(HeaderOptions.Unassigned)">Unassigned</button>
      </ng-container>
    </div>
  </div>

  <div *ngIf="ifShowMenu">
    <div class="dropdown-container">
      <div class="dropdown">
        <button class="profile-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-person"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item" (click)="logout()">Logout</button>
          <button class="dropdown-item" (click)="goToProfile()">Profile</button>
        </div>
      </div>
    </div>
  </div>
</header>
