.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FBFBD2;
  border-bottom: 2px solid #eaeaea;
}

.menu-active {
  background-color: white;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.app-logo {
  width: 80px;
  height: auto;
  margin-right: 100px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-links-container {
  display: flex;
  justify-content: flex-start; /* Aligns links to the left */
  flex-grow: 1;
  font-weight: bold;
  gap: 80px;
  margin-top: 10px;
  margin-left: 100px;
}

.nav-link {
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
}

.dropdown-container {
  position: relative;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  width: 200px; /* Increase the width of the dropdown menu */
  padding: 8px 12px; /* Increase padding for a bigger look */
  font-size: 16px; /* Increase font size for larger text */
  background-color: #f8f9fa; /* Optional: Set background color */
}

.dropdown-item {
  font-size: 16px; /* Increase the size of dropdown items */
  padding: 10px 15px; /* Increase padding to make items bigger */
}

.profile-btn {
  background: #FFD900;
  border-radius: 30px;
  border: black;
  cursor: pointer;
  font-size: 32px;
}

.profile-btn i {
  color: black;
}

.nav-link.selected {
  color: #FFC300;
}

