<app-header [pageTitle]="'Classlog platform'" [ifShowMenu]="true"></app-header>

<div class="full-screen-container">
  <div class="tiles-container">

    <!-- Left Section -->
    <div class="big-tile">
      <div class="button-container">
        <!-- Class Selector -->
        <div class="select-container">
          <label for="class-select" class="select-label">Pick a class:</label>
          <select id="class-select" class="form-select" [(ngModel)]="selectedClassId" (change)="loadStudents()">
            <option [ngValue]="null" selected></option>
            <option *ngFor="let class of classList" [ngValue]="class.id">{{ class.name }}</option>
          </select>
        </div>

        <!-- Add New Grade Button -->
        <button class="new-grade-button" *ngIf="selectedClassId" (click)="toggleShowNewGradeModal()">New Grade</button>
          <app-new-grade-window
            *ngIf="showNewGradeModal"
            [isOpen]="showNewGradeModal"
            [selectedClassId]="selectedClassId"
            [studentListFromOneClass]="studentListFromOneClass"
            (close)="toggleShowNewGradeModal()">
          </app-new-grade-window>
      </div>

      <!-- Scrollable Student Grades Table -->
      <div class="big-tile-content">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>Grade</th>
              <th>Wage</th>
              <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let grade of gradesFromOneClass">
              <td>{{ getFullName(grade.student) }}</td>
              <td>{{ grade.grade }}</td>
              <td>{{ grade.wage }}</td>
              <td>{{ grade.description }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Right Section -->
    <div class="small-tiles-container">
      <div class="search-bar">
        <h3>Search bar and students list</h3>
        <input
          type="text"
          class="form-control"
          placeholder="Search by name or surname"
          [(ngModel)]="searchQuery"
          (input)="filterStudents()"
        />
        <div class="student-list">
          <div
            *ngFor="let student of filteredStudentList"
            class="student-tile"
            (click)="onStudentClick(student)"
          >
            <span class="student-name">{{ student.name }} {{ student.surname }}</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
