<link rel="stylesheet" href="student-grades.component.css">
<app-header [pageTitle]="'Classlog platform'" [ifShowMenu]="true"></app-header>

<div class="full-screen-container">
  <div class="tiles-container">
    <div class="user-profile-and-grades-container">

      <!-- Left Section: User Profile -->
      <div class="profile-container">
        <div class="profile-header">
          <h2>User Profile</h2>
          <h1>{{ userDto.name }} {{ userDto.surname }}</h1>
        </div>
        <div class="profile-details">
          <p><strong>Name: </strong>{{ userDto!.name }}</p>
          <p><strong>Surname: </strong>{{ userDto!.surname }}</p>
          <p><strong>E-mail: </strong>{{ userDto!.email }}</p>
          <p><strong>Role: </strong>{{ userDto!.role.roleName }}</p>
          <p><strong>Created at: </strong>{{ userDto!.createdAt | date:'dd.MM.yyyy HH:mm' }}</p>
        </div>
      </div>

      <div class="grades-container">
        <h2>User Grades</h2>

        <div *ngFor="let group of groupedGrades" class="class-grades">
          <h3>{{ group.className }}</h3>
          <div class="grades-grid">
            <div *ngFor="let grade of group.grades" class="grade-item">
              <p><strong>Grade: </strong>{{ grade.grade }}</p>
              <p><strong>Wage: </strong>{{ grade.wage }}</p>
              <p><strong>Description: </strong>{{ grade.description }}</p>
              <p><strong>Teacher: </strong>{{ getFullName(grade.teacher) }}</p>
              <p><strong>Date: </strong>{{ grade.createdAt | date:'dd.MM.yyyy HH:mm' }}</p>

              <i
                *ngIf="authService.getUserRole() === 'Teacher' && teacherClassesIds.includes(grade.assignedClass.id)"
                class="bi bi-trash delete-icon"
                (click)="deleteGrade(grade)"
              ></i>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
